table {
   width: 95%;
  border-collapse: separate;
  border-spacing: 0px;
  border: solid black 2px;
  border-radius: 8px;
  font-family: "Comic Sans MS";
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
	text-align: center;
	width: 200px;
	padding: 2px;
}
td {
	padding:0 15px;
}
thead {
   background-color:lightblue;
	border-top: none;
}
th {
  background-color:lightblue;
    
}

td:first-child, th:first-child {
     border-left: none;

}
img
{
	 background: transparent;	
}